<div class="w-full h-16 p-4 flex items-center shadow-xl">
    <ng-container *ngIf="data; else noData">
      <h1 class="sm:text-xl text-[#6280C6] cursor-pointer" routerLink="">Autoškola <b class="font-semibold">{{data.name}}</b></h1>
    </ng-container>
    <ng-template #noData>
      <h1 class="sm:text-xl text-[#6280C6] cursor-pointer" routerLink="">Autoškola <b class="font-semibold">Active</b></h1>
    </ng-template>
    <div class="ml-auto flex gap-4 text-[#9B9B9B]">
        <h1 routerLink="" routerLinkActive="text-[#6280C6] font-semibold" [routerLinkActiveOptions]="{exact:true}" class="cursor-pointer">Úvod</h1>
        <h1 routerLink="/pricing" routerLinkActive="text-[#6280C6] font-semibold" class="cursor-pointer">Ceník</h1>
        <h1 routerLink="/contact" routerLinkActive="text-[#6280C6] font-semibold" class="cursor-pointer">Kontakt</h1>
    </div>
</div>
<div class="mt-1 hero-bg w-full h-fit sm:h-[40rem] flex p-12 sm:p-44 sm:pl-[18rem]">
    <div class="flex items-center flex-col w-full sm:w-fit sm:block sm:items-start">
        <h4 class="text-[#6280C6] font-sans text-[1.5rem]">V Ústí nad Labem</h4>
        <h1 class="text-[2rem] sm:text-[4rem] font-[oswald] font-bold tracking-wider">AUTOŠKOLA ACTIVE</h1>
        <h4 class="font-sans mt-2 text-[1.5rem]">Přihlaš se ještě dnes</h4>
        <div class="bg-[#5089CD] w-fit h-fit p-[0.6rem] pl-8 pr-8 text-white shadow-sm rounded-2xl mt-2">PŘIHLÁŠKA</div>
    </div>
</div>
