<div class="w-full h:fit sm:h-[23rem] bg-[#D3D3D3] grid grid-cols-1 sm:grid-cols-3 p-8 gap-8">
    <div class=" flex flex-col items-center p-3 sm:border-r-2 sm:border-r-gray-400 gap-8">
        <div>
            <h1 class="uppercase w-full text-center text-2xl font-semibold">Kontakt</h1>
            <div class="grid grid-cols-2 w-full">
                <h1 class="text-xl uppercase">Telefoní Číslo</h1>
                <h1 class="text-xl uppercase text-right">+420 123 456 789</h1>
                <h1 class="text-xl uppercase">E-Mail</h1>
                <h1 class="text-xl uppercase text-right">info@gmail.com</h1>
            </div>
        </div>
        <div>
            <h1 class="uppercase w-full text-center text-2xl font-semibold">Otevírací hodiny</h1>
            <div class="grid grid-cols-2 w-full">
                <h1 class="text-xl uppercase">Pondělí</h1>
                <h1 class="text-xl uppercase text-right">9:00 - 14:00</h1>
                <h1 class="text-xl uppercase">Úterý</h1>
                <h1 class="text-xl uppercase text-right">9:00 - 14:00</h1>
                <h1 class="text-xl uppercase">Středa</h1>
                <h1 class="text-xl uppercase text-right">9:00 - 14:00</h1>
                <h1 class="text-xl uppercase">Čtvrtek</h1>
                <h1 class="text-xl uppercase text-right">9:00 - 14:00</h1>
                <h1 class="text-xl uppercase">Pátek</h1>
                <h1 class="text-xl uppercase text-right">9:00 - 14:00</h1>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center p-3 border-t-2 border-t-gray-400 sm:border-r-2 sm:border-r-gray-400 sm:border-t-0 sm:border-transparent">
        <h1 class="uppercase w-full text-center text-2xl font-semibold">Ke Stažení</h1>
        <div class="grid grid-cols-1 w-full">
            <h1 class="text-xl uppercase text-center">Posudek o zdravotní způsobilosti</h1>
            <h1 class="text-xl uppercase text-center">Žádost o řidičský průkaz</h1>
            <h1 class="text-xl uppercase text-center">Přihláška</h1>
        </div>
    </div>
    <div class="flex flex-col items-center p-3 border-t-2 border-t-gray-400 sm:border-t-0 sm:border-transparent">
        <h1 class="uppercase w-full text-center text-2xl font-semibold">Kde nás najít</h1>
        <div class="grid grid-cols-1 w-full">
            <h1 class="text-xl text-center">Hornická 2515/11, 400 11</h1>
            <h1 class="text-xl text-center">Ústí nad Labem</h1>
            <h1 class="text-xl text-center">Severní Terasa</h1>
        </div>
        <div class="h-3/4 w-full bg-black">
            
        </div>
    </div>
</div>