<div class="w-full h-fit sm:h-fit bg-[#D3D3D3] flex flex-col sm:flex-row p-8 gap-8">
    <div class="flex flex-col w-full sm:w-2/6 bg-white h-full items-center gap-3 hover:scale-105 shadow-md p-6" *ngFor="let item of [1, 2, 3, 4]">
        <div class="w-fit border-b-2 border-b-slate-300">
            <h3 class="text-[1.1rem] text-center text-[#6280C6] uppercase font-semibold">Řidičský průkaz B</h3>
            <h1 class="text-[2rem] text-center font-semibold">15 000 kč</h1>
        </div>
        <div class="w-fit border-b-2 border-b-slate-300 p-3 sm:p-6 items-center flex flex-col">
            <h1>Teoretické zkoušky</h1>
            <h1>Praktické zkoušky</h1>
            <h1>Manuální řazení</h1>
        </div>
        <div class="w-fit border-b-2 border-b-slate-300 p-3 sm:p-6 items-center flex flex-col">
            <h1>Škoda Rapid</h1>
            <h1>Škoda Futo</h1>
            <h1>Škoda Scala</h1>
        </div>
        <div>
            <button class="p-2 sm:p-3 pl-6 pr-6 uppercase bg-[#5089CD] text-white rounded-lg">Přihlásit se</button>
        </div>
    </div>
</div>